:host {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  margin: 0 2vw;
  background: pink;
}

.material-icons{
  color: #b71c1c;
  font-size: 2.4rem;

}
.person, .tr-head{
  text-align: center;
  vertical-align: middle;
  /* background-color: aqua; */
}

.header-month{
  margin: 50px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}
.arrow, .month{
  display: inline-block;
  font-size: 4.5rem;

}