<section class="calender">
  <button (click)="showSide()">오른쪽 사이드바 toggle</button>
  <table>
    <tr>
      <td>이름</td>
      <td *ngFor="let day of days">{{day.day}}</td>
    </tr>
    <tr *ngFor="let person of persons">
      <td>{{person.name}}</td>
      <td *ngFor="let day of days" class="{{day.year}}-{{day.month}}-{{day.day}}-{{person.id}}">
        <!-- <input type="checkbox" class="{{day.year}}-{{day.month}}-{{day.day}}-{{person.id}}"> -->
        <ng-container *ngIf="true">
          <i class="material-icons circle">
            fiber_manual_record
          </i>
        </ng-container>
        <ng-container *ngIf="false">
          <i class="material-icons triangle">
            change_history
          </i>
        </ng-container>
        <ng-container *ngIf="false">
          <i class="material-icons close">
            close
          </i>
        </ng-container>


      </td>
    </tr>
  </table>
</section>