<section class="side-bar">

  <div class="profile">
    <img src="https://t2.ea.ltmcdn.com/en/images/6/8/9/happy_dog_names_male_and_female_2986_600.jpg" alt="profile">
    <div>
      <span>Welcome, </span>
      <span class="name">{{userName}}</span>
      <p class="class">{{className}}</p>
    </div>
  </div>
  <div class="border"></div>
  <nav>
    <ul class="nav">
      <li>
        <i class="material-icons">
          assignment
        </i><a routerLink="/attendance" routerLinkActive="active">출석</a>
      </li>
      <li>
        <i class="material-icons">
          assignment
        </i><a routerLink="/homework" routerLinkActive="active">과제</a>
      </li>
    </ul>
  </nav>
</section>
