:host {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

.side-bar {
  background: #b71c1c;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 0;
  height: 100vh;
  transition: all 1.5s ease;
}

.side-bar.show {
  width: 13vw;
  transition: width 1.5s ease;
}

/* @keyframes show {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
} */
