/* .attendance {
  width: 100%;
} */
:host {
  display: inline-block;
  width: 87vw;
  height: 100vh;
  margin: 0 2vw;
  /* background: cadetblue; */
 }

.input_check {
  width: 35px;
  height: 35px;
  margin-right: 3px;
  margin-left: 3px;
}

.person, .tr-head {
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
 }

 .name,
.person {
  padding: 10px;
  font-size: 1rem;
}

.header-month,
.calender-table {
  margin: 50px auto;
  vertical-align: middle;
  display: flex;
  justify-content: space-around;
}

.arrow,
.month {
  display: inline-block;
  font-size: 4.5rem;
  cursor: grab;

}
 
 .attendance-table{
  display: inline-block;
  padding: 16px 10px 10px 10px;
  background-color: #f2f2f2;
  border-radius: 40px 40px 0 0;
  margin: 0 0.5vw;
  width: 82vw;
  min-height: 39vw;
 }
 
 .day{
  background-color: #b71c1c;
  border-radius: 20%;
  color: #ffffff;
  width: 1.7vw;
  height: 1.7vw;
  font-size: 1rem;
  line-height: 1.7vw;
  margin: auto;
  cursor: grab;
 }
 
select { 
  -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
  -moz-appearance: none; 
  appearance: none; 
  padding: 5px;
  border-radius: 20%;
  text-align: center;
  margin : 0.05vw 0.1vw;
}


/* 힘내자 */