/* .attendance {
  width: 100%;
} */
:host {
  display: inline-block;
  width: 70vw;
  height: 100vh;
  margin: 0 2vw;
  background: cadetblue;
 }

.input_check {
  width: 35px;
  height: 35px;
  margin-right: 3px;
  margin-left: 3px;
}

.person, .tr-head {
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
 }
 .tr-head td, .person{
  padding: 10px;
  font-size: 1.2rem;
 }

 .header-month{
  margin: 50px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
 }

 .arrow, .month{
  display: inline-block;
  font-size: 4.5rem;
 }
 
 .attendance-table{
  background-color: #f2f2f2;
 }
 
 .day{
  background-color: #b71c1c;
  border-radius: 20%;
  color: #ffffff;
 }
 
 select { 
   -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
   -moz-appearance: none; 
   appearance: none; 
   padding: 5px;
   border-radius: 20%;
   text-align: center;
}
/* 힘내자 */