<section class="attendance">
    <!-- <button (click)="showSide()">오른쪽 사이드바 toggle</button> -->
    <div class="header-month">
      <i class="arrow material-icons" (click)="decrease()">
        keyboard_arrow_left
      </i>
      <h1 class="month">{{presentYear}} . {{presentMonth + 1}}</h1>
      <i class="arrow material-icons" (click)="increase()">
        keyboard_arrow_right
      </i>
    </div>
    <table class="attendance-table">
      <tr class="tr-head">
        <td>이름</td>
        <td *ngFor="let day of days" class="day">{{day.day}}</td>
      </tr>
      <tr *ngFor="let person of studentsData">
        <td class="person {{person.id}}">{{person.name}}</td>
        <td *ngFor="let day of days">
          <select name="wow" id="wow" (change)="select($event.target, person, day)">
            <option [value]="att.value" *ngFor="let att of attend" [selected]="att.value === +person.attendance[day.all]">{{att.attend}}</option>
          </select>
        </td>
      </tr>
    </table>
  </section>  